/notebooks/training_record_experiments/pip_freeze
/notebooks/training_record_experiments/pip_freeze.txt
.DS_Store
notebooks/production_input_drift_detection/CustomerChurnDriftFeaturesColumns.pkl
notebooks/production_input_drift_detection/CustomerChurnDriftModel.sav
seldon/drift_deploy/CustomerChurnDriftModel.sav
seldon/drift_deploy/model/meta.dill
seldon/drift_deploy/model/TabularDrift.dill
notebooks/production_input_drift_detection/CustomerChurnDriftPredictor.sav
notebooks/production_input_drift_detection/CustomerChurnDriftPredictor/*
seldon/drift_deploy/CustomerChurnDriftPredictor.sav
notebooks/training_record_experiments/mlruns/0/meta.yaml
